<!-- Just an image -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">
    <img src="../assets/cloud-icon.png" width="30" height="30" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active ">
        <a class="nav-link" style="color: rgb(0, 140, 255); font-size: x-large;"  routerLink=''>Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: rgb(0, 140, 255); font-size: x-large;" routerLink='courses'>Courses</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" style="color: rgb(0, 140, 255); font-size: x-large;" routerLink='resources'>Resources</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
