<div class="container-sm">
    <br>
    <h4> Book Inventory </h4>

    <form>
        <div class="form-group form-inline">
            search by title: <input class="form-control ml-2" type="text"/> 
            search by topic: <input class="form-control ml-2" type="text"/>
        </div>
      </form>
      
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Topic</th>
          <th scope="col">Authur</th>
          <th scope="col">Link</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let book of books; index as i">
          <th scope="row">{{ i + 1 }}</th>
     
          <td>{{ book.title}}</td>
          <td>{{ book.topic}}</td>
          <td>{{ book.authur}}</td>
          <td><a [href]="book.link" target="_blank"> {{ book.link}} </a>    </td>

        </tr>
        </tbody>
      </table>

    

</div>