<div class="container-xlg">
    <br>
    <p class="fa fa-lg">
        This is a Course Management System which lets you manage <b style="color: rgb(0, 140, 255);">Courses</b> and relataled <b style="color: rgb(0, 140, 255);">Resources</b> (Books/Online resources)<br>
    </p>

    <img src="../../assets/home.jpg" class="img-fluid" alt="Responsive image">

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
  © 2020 Created By:
    <a class="text-dark" [href]="COPY_RIGHT" target="_blank">{{COPY_RIGHT}}</a>
    </div>
</div>