<div class="container-xlg">
    <br>
    <div class="row  col-lg-20" style="margin:auto">
        <div class="col-md-6">
            <img src="../../assets/homepage_1.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-6">
            <p class="fa fa-lg">
                <b>Learning Management System (LMS) </b> 
            </p><br><br>
            <ul>
                <li>manage your <a routerLink='courses'><b style="color: rgb(0, 140, 255);">Courses</b> </a></li><br>
                <li>use <a routerLink='resources'><b style="color: rgb(0, 140, 255);">Book Inventory</b></a> to find Books/Online resources for your course<br></li><br>
                <li>add books/online resources to your course</li><br>
                <li>search external inventories for your desired books</li><br>
            </ul>

            <img src="../../assets/books_8.jpg" class="img-fluid" alt="Responsive image">
              
         </div>
       </div><!-- end row -->

    

    <div class="footer" style="background-color: rgba(0, 0, 0, 0.2)">
  © 2020 Created By:
    <a class="text-dark" [href]="COPY_RIGHT" target="_blank">{{COPY_RIGHT}}</a>
    </div>
</div>

<!--<div class = "footer"></div>
text-center p-3-->