<div class="container-sm">
    <br>

    <div *ngIf="showDetails">
      <div  class="row">
        <div class="col-sm">
          <img src="../../../../assets/courses_4.jpg" class="img-fluid float-left" alt="Responsive image">
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <button type="button"class="btn btn-primary float-right fa fa-server" routerLink='/courses/add'>Add a course</button>
        </div>
      </div><br>
      <div class="row">
        <div class="col-sm">
          <button type="button"class="btn btn-primary float-right fa fa-server" routerLink='/topics/add'>Add a topic</button>
        </div>
      </div>
      <br><br>
    </div>
    
   
    <table class="table table-striped">
        <col style="width:5%">
        <col style="width:40%">
	      <col style="width:15%">
        <col style="width:65%"> 
        <col style="width:3%"> 
        <col style="width:3%"> 

        <thead>
          
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Topic</th>
            <th *ngIf="showDetails" scope="col">Description</th>
            <th *ngIf="showDetails"  scope="col"></th>
            <th *ngIf="showDetails"  scope="col"></th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of courses; let i = index"> 
            <th scope="row">{{i+1}}</th>
            <td>{{item.title}}</td>
            <td>{{item.topic?.name}}</td>
            <td *ngIf="showDetails">{{item.description}}</td>
            <td *ngIf="showDetails" > <button  type="button" class="fa fa-eye" title="view" style="color:rgb(0, 140, 255)" (click)="view(item)"></button></td>
            <td *ngIf="showDetails" > <button type="button" class="delete-label fa fa-trash" style="color:rgb(71, 158, 230)" (click)="delete(item)" title="remove"></button>
            </td>

          </tr>
        </tbody>
    </table>
</div>

